
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: #f4f4f9;
    color: #333;
    max-width: 800px;
    margin: 0% auto;
    background-color: white;
    padding: 40px;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
input{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}
button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
button:hover{
    background-color: #0056b3;
    transform: scale(1.02);
    transition: 0.3s;
}
fieldset {
    padding: 20px;       
    border: 1px solid #ccc; 
    border-radius: 5px;  
    width: 100%;         
}
.fila-principal{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.fila-principal section{
    flex: 1;
}
footer {
    background-color: #333; 
    color: white;           
    text-align: center;     
    padding: 20px;          
    margin-top: 40px;       
    font-size: 14px;        
}


footer a {
    color: #4da6ff;        
    text-decoration: none; 
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline; 
    color: white;
}

@media (max-width: 768px) {
    .fila-principal{
        flex-direction: column;
    }
    body{
        padding: 15px;
    }
    .fila-principal section{
        width: 100%;
    }
}
.grid-proyectos {
    display: grid;
    /* La línea mágica que aprendimos antes */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; /* Espacio entre tarjetas */
}
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombrita suave */
}
.tags span {
    background-color: #eee;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px; /* Separación entre etiquetas */
    display: inline-block; /* Para que respeten el margen */
}
nav a{
    font-family: sans-serif;
    text-decoration: none;
    color: #3c3c4d;
    margin: 2%;
}
nav a:hover{
    color: #0056b3;
}